
*{
  margin: 0px;
}


.principal {
 background-color: rgb(217, 217, 228);

 position: relative;
 display: grid;
 justify-items: center;
 grid-template-columns: 1;
 grid-template-rows: 1fr 1fr 1fr;
}
.retorno{
  background-color: salmon;
  width: 5.5rem;
  height: 1rem;
  padding: 10px;
  border: 2px solid;
  grid-row: 2;
  font-size: 30px;
  position: absolute;

}

.text{
  text-align: center;
margin-top: -10px;
font-weight: bolder;
color: blue;
}


.text.azul{
  color: blue;
}
.text.red{
  color:red
}

.buttons{
  padding: 20px;
  grid-row: 3;
}


